body {

}




/*=======================1000 px ====================================================================*/

/*@media only screen and (min-width:1000px) {


    #youtube-div-background{

        display:none !important;

    }

}*/


/*=======================en dof 1000 px ====================================================================*/




/*=======================1000 px ====================================================================*/

/*@media only screen and (min-width:640px) and (max-width:1000px) {


    #youtube-div-background {
        display: none !important;
    }
}*/


/*=======================en dof 1000 px ====================================================================*/



/*=======================1000 px ====================================================================*/

/*@media only screen and (min-width:480px) and (max-width:640px) {


    #youtube-div-background {
        display: none !important;
    }
}*/


/*=======================en dof 1000 px ====================================================================*/